/backups
/local
/mods
/.mixin.out
/backups
command_history.txt
/data
/defaultconfigs
/downloads
emi.json
/ESM
knownkeys.txt
/local
/logs
patchouli_data.json
realms_persistence.json
/saves
servers.dat
usercache.json
usernamecache.json
